/*custom font*/

@font-face {
    font-family: 'MyWebFont';
    src: url('vagrounded-regular.ttf');
}

/*Mozilla firefox disable spinner for member registration*/
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';
    /* essential for enabling glyphicon */
    content: "\e253";
    /* adjust as needed, taken from bootstrap.css */
    float: right;
    /* adjust as needed */
    color: white;
    /* adjust as needed */
}

.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e252";
    /* adjust as needed, taken from bootstrap.css */
}

p.text-inline .text-inline img {
    display: inline-block;
    vertical-align: middle;
}

.filter h5 {
    font-family: 'MyWebFont', 'vagrounded-regular', sans-serif;
}

html {
    position: relative;
    min-height: 100%;
}

.thumbnail {
    border: 0 none !important;
    box-shadow: none !important;
}

.navbar-brand > img {
    width: auto;
    height: 50px;
    margin-top: 10px;
}

.text li a {
    color: #f291bb;
}

.navbar-default {
    background-color: #fff;
}

.navbar-cash {
    background-color: #f291bb;
}

.navbar-default {
    min-height: 70px;
}

.navbar-nav li a {
    color: #fff;
}

.navbar-header a {
    padding: 2px 15px;
    line-height: 40px;
}

.nav-margin {
    margin-top: 10px !important;
}
.ex1{
margin-top: 128px;}
.underline {
    text-decoration: underline;
}

.welcome {
    background-color: #f291bb;
    color: #fff;
    font-style: normal;
}

/*footer*/

footer {
    color: #9c77b4;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    background-color: #fff;
}

.text-foot {
    padding-top: 15px;
}

.text-foot-two {
    padding-top: 15px;
}

/*stay in touch*/

.footer-text-right {
    padding-top: 15px;
}

.footer-icons a {
    /*display: table-cell;*/
    /*vertical-align: middle;*/
    /*float: right;
      padding: 10px 0px 5px 5px;*/
    /*top right bottom left*/
    display: inline-flex;
}

.body-color {
    background-color: #f291bb;
    /*pink*/
}

.carousel .carousel-control {
    visibility: hidden;
}

.carousel:hover .carousel-control {
    visibility: visible;
}

.demoInputBox {
    padding: 5px;
    border: #F0F0F0 1px solid;
    border-radius: 4px;
    background-color: #FFF;
}

.arrow {
    width: 30%;
    height: 10%;
}

.btn-circle {
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 30px;
    margin-left: 15px;
    background-color: #f291bb;
}

p.text-price {
    color: black;
    width: 200px;
    font-size: 1.2em;
    margin-right: 20px;
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';
    /* essential for enabling glyphicon */
    content: "\e253";
    /* adjust as needed, taken from bootstrap.css */
    float: right;
    /* adjust as needed */
    color: white;
    /* adjust as needed */
}

.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e252";
    /* adjust as needed, taken from bootstrap.css */
}

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 70px;
    margin-bottom: 100px;
    clear: both;
}

body > .container {
    padding-top: 60px;
}

h1, h2, h3, h4, footer, li, a {
    font-family: Arial;
}

.thumbnail {
    border: 0 none !important;
    box-shadow: none !important;
}

.underline {
    text-decoration: underline;
}

.welcome {
    background-color: #f291bb;
    color: #fff;
    font-style: normal;
}

/*footer*/

footer h5 {
    color: #9c77b4;
}

.text-foot {
    padding-top: 10px;
}

/*stay in touch*/

.footer-text-right {
    padding-top: 10px;
}

.footer-icons a {
    padding-top: 10px;
    /*top right bottom left*/
}

.body-color {
    background-color: #f291bb;
    /*pink*/
}

.carousel .carousel-control {
    visibility: hidden;
}

.carousel:hover .carousel-control {
    visibility: visible;
}

.demoInputBox {
    padding: 5px;
    border: #F0F0F0 1px solid;
    border-radius: 4px;
    background-color: #FFF;
}

.arrow {
    width: 30%;
    height: 10%;
}

/*faq*/

.panel {
    margin-top: 0 !important;
    margin-bottom: 1px !important;
    padding: 0 !important;
    border-radius: 0 !important;
    background-color: #9c77b4;
}

.panel-body {
    background-color: #fff;
}

.faq-color {
    color: #9c77b4;
}

.panel-title {
    color: #fff;
}

.how-it-work {
    background-color: #9c77b4;
}

.how-it-work h1 {
    color: #fff;
}

.shop {
    background-color: #fff;
}

.shop h1 {
    color: #9c77b4;
}

.shop-contribute {
    text-decoration: underline;
    color: #9c77b4;
}

.shop-charity {
    text-decoration: underline;
    color: #fff;
}

.link {
    color: #9c77b4;
    text-decoration: underline;
}

.charity {
    color: #fff;
    background-color: #f291bb;
}

.arrow {
    width: auto;
    height: 50px;
}

/*donate as you spend*/

.smallbox {
    background-color: #9c77b4;
    color: #fff;
    position: relative;
    float: right;
    padding: 10px;
    font-variant: normal;
}

.item img {
    width: 100%;
}

.text-center {
    text-align: center;
}

.nav {
    margin-bottom: 0;
    z-index: 9999;
    border: 0;
    font-size: 15px !important;
    line-height: 1.42857143 !important;
}

.text li a {
    color: #f291bb !important;
}

.pinktwo {
    color: #fff;
    /*pink*/
    background-color: #f291bb;
    border: 2px solid #fff;
    width: 100px;
}

.pinktwo:hover {
    color: #fff;
    background-color: #f291bb;
}

.pinkthree {
    color: #fff;
    background-color: #f291bb;
    border-radius: 24px;
}

.verticalLine {
    border-right: 1px solid #d3d3d3;
}

.bar img {
    width: 40px;
    height: 40px;
}

.bar-logo img {
    width: 100px;
    height: 100px;
}

.img-thumbnail {
    border: 0 !important;
    box-shadow: none;
}

.navbar-collapse.in {
    overflow: hidden;
}

.pink {
    color: #f291bb;
    background-color: #fff;
    border-radius: 24px;
    border: 2px solid #f291bb;
    width: 100px;
    text-align: center;
}

.pink-two {
    border-radius: 24px;
    border: 2px solid #f291bb;
    width: 120px;
    background-color: #f291bb;
    color: #fff;
    text-align: center;
    font-family: Arial !important;
}

.pink-two-merchant {
    border-radius: 24px;
    border: 2px solid #f291bb;
    width: 200px;
    background-color: #f291bb;
    color: #fff;
    text-align: center;
}

.pink-two a span {
    color: black;
}

/* Carousel Header Styles */

.header-text {
    position: absolute;
    top: 55%;
    left: 0;
    right: -55%;
    height: 500px;
    width: 500px;
    color: #fff;
}

/*how we work*/

.img-rounded img {
    width: auto;
    height: 155px;
    padding: 10px 0 10px 0;
}

.header-text h2 {
    font-size: 45px;
}

.btn-min-block {
    min-width: 170px;
    line-height: 26px;
    border-radius: 25px;
    font-size: 20px;
    color: #9c77b4;
}

/*.btn-theme {
    color: #9c77b4;
    background-color: #fff;
}

.btn-theme:hover {
    color: #fff;
    background-color: #fff;
    border-color: #fff;
}*/

.caption {
    padding-bottom: 15px;
}

/*input text styling*/

.form-control-feedback {
    pointer-events: initial;
}

.glyphicon-info-sign {
    right: 30px;
    color: #ffffff;
}

.form-controls {
    box-shadow: none;
    border: 0;
    border-color: transparent;
    background-color: transparent;
}

.form-control {
    border-radius: 0 !important;
}

.form-controls::-webkit-input-placeholder {
    color: white;
}

.form-controls:-moz-placeholder {
    color: white;
}

.form-controls::-moz-placeholder {
    color: white;
}

.form-controls:-ms-input-placeholder {
    color: white;
}

.text-line {
    background-color: transparent;
    color: #fff;
    outline: none;
    outline-style: none;
    outline-offset: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #fff;
    padding: 3px 10px;
}

textarea {
    resize: vertical;
}

.row-mobile {
    display: flex;
    align-items: center;
}

.process-row {
    display: flex;
    align-items: center;
}

.mobile_show {
    display: none;
}

/*register button*/

span {
    color: #0f0f0f;
}

.btn-min-register {
    min-width: 170px;
    line-height: 26px;
    border-radius: 25px;
    font-size: 20px;
    color: #f291bb;
}

@media screen and (max-width: 1024px) {
    .header-text {
        margin-left: 60%;
        margin-top: -10%;
    }
}

@media screen and (max-width: 768px) {
    /*.footer-text-right .text-icons {
          width: 70%;
          margin: 0 auto;
          display: block;
      }*/
    .row-mobile {
        display: block;
    }

    .arrow {
        width: 5%;
        height: 5%;
        transform: rotateZ(90deg);
    }

    /*.mobile_box {
        background-color: #9c77b4;
        color: #fff;
        font-variant: normal;
        padding: 0px;
      }*/
    /*.mobile_box {
          background-color: #9c77b4;
          color: #fff;
          font-variant: normal;
          padding: 0px;
      }*/
    .mobile_show {
        display: block;
    }

    .mobile_hide {
        display: none;
    }

    .col-xs-1 {
        margin-left: -15px;
    }

    .smallbox {
        display: none;
    }

    .text-foot {
        text-align: center;
    }

    .footer-text-right {
        text-align: center;
    }

    /*.footer-flex{
        height:15%;
      }*/
}

.form-control {
    border-radius: 0 !important;
}

/*faq*/

.panel {
    margin-top: 0 !important;
    margin-bottom: 1px !important;
    padding: 0 !important;
    border-radius: 0 !important;
    background-color: #9c77b4;
}

.faq-color {
    color: #9c77b4;
}

.panel-title {
    color: #fff;
}

.how-it-work {
    background-color: #9c77b4;
    background-color: #fff;
}

.how-it-work h1 {
    color: #9c77b4;
}

.how-it-work p {
    color: #9c77b4;
}

.shop {
    background-color: #fff;
}

.shop h1 {
    color: #9c77b4;
}

.shop-contribute {
    text-decoration: underline;
    color: #9c77b4;
}

.shop-charity {
    text-decoration: underline;
    color: #fff;
}

.link {
    color: #9c77b4;
    text-decoration: underline;
}

.charity {
    color: #fff;
    background-color: #f291bb;
}

.arrow {
    width: auto;
    height: 50px;
}

/*donate as you spend*/

.smallbox {
    background-color: #9c77b4;
    color: #fff;
    position: relative;
    float: right;
    padding: 10px;
    font-variant: normal;
}

.item img {
    width: 100%;
}

.text-center {
    text-align: center;
}

.pinktwo {
    color: #fff;
    /*pink*/
    background-color: #f291bb;
    border: 2px solid #fff;
    width: 100px;
}

.pinktwo:hover {
    color: #fff;
}

.pinkthree {
    color: #fff;
    background-color: #f291bb;
    border-radius: 24px;
}

.verticalLine {
    border-right: thin solid black;
    width: 1px;
    height: 150px;
    position: relative;
    top: 0;
    bottom: 0;
}

.purple {
    color: #fff;
    background-color: #9c77b4;
    width: 120px;
    border-radius: 24px;
}

.purple-merchant {
    color: #fff;
    background-color: #9c77b4;
    width: 160px;
    border-radius: 24px;
}

.purple-two {
    color: #9c77b4;
    background-color: #fff;
    border-radius: 24px;
    border: 2px solid #9c77b4;
    width: 100px;
    text-align: center;
}

.bar img {
    width: 40px;
    height: 40px;
}

.bar-logo img {
    width: 100px;
    height: 100px;
}

.img-thumbnail {
    border: 0 !important;
    box-shadow: none;
}

/*.pink:hover{
  background-color:#fff;
  color:#f291bb;
  border:none;
}
.pink a:active{
  background-color:#fff;
}*/

.pink-two a span {
    color: black;
}

/* Carousel Header Styles */

.header-text {
    position: absolute;
    top: 55%;
    left: 0;
    right: -55%;
    height: 500px;
    width: 500px;
    color: #fff;
}

/*how we work*/

.img-rounded img {
    width: auto;
    height: 155px;
    padding: 10px 0 10px 0;
}

.header-text h2 {
    font-size: 45px;
}

.btn-min-block {
    min-width: 170px;
    line-height: 26px;
    border-radius: 25px;
    font-size: 20px;
    color: #9c77b4;
}

/*.btn-theme {
    color: #9c77b4;
    background-color: #fff;
}

.btn-theme:hover {
    color: #fff;
    background-color: #fff;
    border-color: #fff;
}*/

.caption {
    padding-bottom: 15px;
}

/*input text styling*/

.text-line {
    background-color: transparent;
    color: #fff;
    outline: none;
    outline-style: none;
    outline-offset: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #fff;
    padding: 3px 10px;
}

textarea {
    resize: vertical;
}

/*****************************************************/

.row-mobile {
    display: flex;
    align-items: center;
}

.mobile_show {
    display: none;
}

p.text-price-two {
    color: #9c77b4;
    font-size: 1.3em;
}

p.text-price-three {
    color: #9c77b4;
    font-size: 1.3em;
    display: flex;
}

/*register button*/

.btn-min-register {
    min-width: 170px;
    line-height: 26px;
    border-radius: 25px;
    font-size: 20px;
    color: #f291bb;
}

.under-line {
    border-bottom: 1px solid #0f0f0f;
}

.border-pin {
    border-bottom: 1px solid black;
}

@media screen and (max-width: 1024px) {
    .header-text {
        margin-left: 60%;
        margin-top: -10%;
    }

    .footer-text-right {
        margin-top: 20px;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    /*.footer-text-right .text-icons {
          width: 70%;
          margin: 0 auto;
          display: block;
      }*/
    .row-mobile {
        display: block;
    }

    .arrow {
        width: 5%;
        height: 5%;
        transform: rotateZ(90deg);
    }

    /*.mobile_box {
        background-color: #9c77b4;
        color: #fff;
        font-variant: normal;
        padding: 0px;
      }*/
    /*.mobile_box {
          background-color: #9c77b4;
          color: #fff;
          font-variant: normal;
          padding: 0px;
      }*/
    .mobile_show {
        display: block;
    }

    .mobile_hide {
        display: none;
    }

    .col-xs-1 {
        margin-left: -15px;
    }

    .smallbox {
        display: none;
    }

    .text-foot {
        text-align: center;
    }

    .footer-text-right {
        /*margin-top: 20px;*/
        text-align: center;
    }

    .footer-icons a {
        /*display: table-cell;*/
        /*vertical-align: middle;*/
        /*float: right;
            padding: 10px 0px 5px 5px;*/
        /*top right bottom left*/
        padding-top: 10px;
        display: inline-flex;
    }

    .footer-icons {
        margin-left: 32%;
    }

    /*.footer-flex{
        height:15%;
      }*/
    .push-margin {
        margin-top: 22px;
    }
}

@media screen and (max-width: 360px) {
    .footer-icons {
        margin-left: 20%;
    }
}

/*CSS for the progress bar*/

.form-wrap {
    max-width: 500px;
    padding: 30px;
    background: #f1f1f1;
    margin: 20px auto;
    border-radius: 4px;
    text-align: center;
}

.form-wrap form {
    border-bottom: 1px dotted #ddd;
    padding: 10px;
}

.form-wrap #output {
    margin: 10px 0;
}

.form-wrap .error {
    color: #d60000;
}

.form-wrap .images {
    width: 100%;
    display: block;
    border: 1px solid #e8e8e8;
    padding: 5px;
    margin: 5px 0;
}

.form-wrap .thumbnails {
    width: 32%;
    display: inline-block;
    margin: 3px;
}

/* PROGRESS BAR START */

#progress-wrp {
    border: 1px solid #0099CC;
    height: 23px;
    padding: 1px;
    position: relative;
    border-radius: 3px;
    margin: 10px;
    text-align: left;
    background: #fff;
    box-shadow: inset 1px 3px 6px rgba(0, 0, 0, 0.12);
}

#progress-wrp .progress-bar {
    height: 20px;
    border-radius: 3px;
    background-color: #f39ac7;
    width: 0;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.11);
}

#progress-wrp .status {
    top: 3px;
    left: 50%;
    position: absolute;
    display: inline-block;
    color: #000000;
}

/*PROGRESS BAR END*/

/*TOGGLE SWITCH START*/

.memberCashierSwitch {
    position: relative;
    width: 100px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.memberCashierSwitch-checkbox {
    display: none;
}

.memberCashierSwitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 20px;
}

.memberCashierSwitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.memberCashierSwitch-inner:before, .memberCashierSwitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 15px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.memberCashierSwitch-inner:before {
    content: "Member";
    padding-left: 11px;
    background-color: #f291bb;
    color: #FFFFFF;
}

.memberCashierSwitch-inner:after {
    content: "Cashier";
    padding-right: 11px;
    background-color: #E171ED;
    color: #FFFFFF;
    text-align: right;
}

.memberCashierSwitch-switch {
    display: block;
    width: 18px;
    margin: 6px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 66px;
    border: 2px solid #999999;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

.memberCashierSwitch-checkbox:checked + .memberCashierSwitch-label .memberCashierSwitch-inner {
    margin-left: 0;
}

.memberCashierSwitch-checkbox:checked + .memberCashierSwitch-label .memberCashierSwitch-switch {
    right: 0px;
}

/*TOGGLE SWITCH END*/

/*TOGGLE SWITCH END*/
.merchanttable {
    text-align: left;
    width: 100%;
    border: 0px;
    overflow-x: scroll;
    display: block;
}

.formdiv {
    margin: 0px !important;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.purplemerchant {
    width: 170px !important;
}

.purplemerchantadmin {
    width: 205px !important;
}

.spaceup {
    margin-top: 15px;
}

.specialline {
    height: 45px;
    margin-top: 50px;

}

.normallineheight {
    line-height: 19px;
    margin-top: 20px;

}

.resizeRM {
    font-size: 2.1em !important;

}

.pinkfont {
    color: #f291bb !important;

}

.editcircle {
    width: 20px !important;
    height: 20px !important;
    padding: 0 !important;
    border-radius: 20px !important;
    margin-top: 10px !important;

}

.buttomwidth {
    width: 170px;
}

.divsize {
    padding-left: 10% !important;
    padding-right: 13% !important;
}

.divadmin {
    margin-left: 25%;
}

.sortby {
    float: right;
}

.latest {
    margin-left: -35px;
}

.heartimg {
    width: 27%;
    padding-top: 2%;
    padding-bottom: 4%;
}

.cancelpaddingtop {
    padding-top: 0px !important;
}

.paddingtop25 {
    padding-top: 25px;
}

.nobgcolor {
    background-color: transparent !important;
    background: rgba(255, 255, 255, 0.00) !important;
    padding-top: 0px !important;
    margin-left: 0;
    float: left;
    padding-left: 0;
}

.whiteborder {
    border: 5px solid white;
    border-radius: 5px;
}

.heartimg2div {
    text-align: center;
    width: 100%;
}

.heartimg2 {
    width: 23%;
    padding-top: 2%;
}

.uploadphoto {
    margin-left: 23%;
    padding-bottom: 2%;
    padding-top: 4.5%;
}

.border-bottom {
    border-bottom: 0px !important;
}

.editmargin {
    margin-left: 0% !important;
    padding-left: 0% !important;
}

.nopaddingleft {
    margin-left: 0% !important;
    padding-left: 0% !important;
    margin-left: 26%;
}

.width20 {
    width: 16% !important;
}

.desdiv {
    width: 32% !important;
    margin-left: 0% !important;
}

.transparentarea {
    background-color: transparent !important;
    color: white !important;
    border: 1px solid white;
}

.colorwhite {
    color: white !important;
}

.uploadmargin {
    margin-left: 23% !important;
    padding-top: 4%;
    padding-bottom: 1.5%;
}

.marginbtm {
    margin-bottom: 4%;
}

.paddingtopabc {
    padding-top: 45px;
    margin-top: 0;
}

.cancelmarginleft {
    margin-left: 0 !important;

}

.heartmin {
    min-height: 550px;

}

.container {
    padding-right: 8%;
    padding-left: 8%;
    margin-left: 0;
    margin-right: 0;
    width: 100%;

}

.admin-text {
    margin-left: 153px;
}

.pleft15 {
    padding-left: 15px;
}

.glyph-align {
    vertical-align: middle !important;
}

.m-mobile {
    margin-top: 35px !important;
}

.mt3 {
    margin-top: 15px !important;
}

@media all and (max-width: 767px) {
    .container {
        padding-left: 10%;
    }

    .pleft15 {
        padding-left: 15px !important;
    }

    .mobilengo {
        margin-left: 0;
    }
}

.clear {
    clear: both;
}

.w100 {
    width: 100%;
}

.leftfoot {
    width: 80%;
    float: left;
}

.midfoot {
    width: 9%;
    float: left;

}

.rightfoot {
    float: right;
}

.footp {
    margin-top: 18px;
    font-size: 15px;
}

.mfoot {
    margin-right: 50%;
}

.width-size {
    width: 50%;
}

.cashback-layout {
    float: left;
}

.cashback-size {
    width: 45% !important;
}

.contribute-layout {
    width: 40%;
}

.contribute-bigger-layout {
    width: 50%;
}

.sc {
    margin-left: 24%;
}

.sc-text {
    /*min-height: 38px;*/
}

.ca {
    margin-left: 34%;
}

.ca-button {
    background-color: #9c77b4;
}

.merchant {
    float: right;
    margin-right: -25%;
}

.rep {
    float: right;
    margin-right: -25%;
    margin-top: 95px;
}

.btn-reg-modal {
    min-width: 170px;
    line-height: 15px;
    border-radius: 25px;
    color: #f291bb;
    font-size: 15px;
}

.sortbyadmin {
    margin-top: -30px;
}

/*.position-button{*/
/*position: absolute;*/
/*}*/

@media all and (max-width: 1227px) {
    .leftfoot {
        width: 77%;
    }
}

@media all and (max-width: 1072px) {
    .leftfoot {
        width: 74%;
    }

    .midfoot {
        width: 12%;
    }
}

@media all and (max-width: 964px) {
    .leftfoot {
        width: 70%;
    }
}

@media all and (max-width: 804px) {
    .leftfoot {
        width: 65%;
    }

    .midfoot {
        width: 15%;
    }
}

@media all and (max-width: 768px) {
    .rightfoot {
        margin-left: 0 !important;
    }

}

@media all and (max-width: 691px) {

    .w100 {
        margin-top: 10px;
    }

    .leftfoot {
        width: 35%;
        margin-right: 26%;
    }
}

@media all and (max-width: 681px) {
    .footp1 {
        margin-top: 0 !important;
    }

}

@media all and (max-width: 659px) {
    .midfoot {
        width: 18%;
    }

    .leftfoot {

        margin-right: 22%;
    }
}

@media all and (max-width: 552px) {
    .footp2 {
        margin-top: 0;
        margin-bottom: 0;
    }

    .midfoot {
        float: right;
        width: 20%;
    }

    .rightfoot {
        margin-top: 10px;
        margin-right: -18%;
    }

    img.socialimgsize {
        width: 25px !important;
        height: 25px !important;
    }
}

@media all and (max-width: 519px) {
    .rightfoot {
        margin-right: -20%
    }
}

@media all and (max-width: 494px) {
    .midfoot {
        width: 24%;
    }

    .rightfoot {
        margin-right: -24%;
        width: 24%;
    }
}

@media all and (max-width: 423px) {
    .midfoot {
        width: 28%;
    }

    .rightfoot {
        margin-right: -28%;
        width: 28%;
    }
}

@media all and (max-width: 367px) {
    .leftfoot {
        margin-right: 22%;
        width: 40%;
    }

    .midfoot {
        width: 30%;
    }

    .rightfoot {
        margin-right: -30%;
        width: 30%;
    }
}

@media all and (max-width: 338px) {
    .midfoot {
        width: 34%;
    }

    .rightfoot {
        margin-right: -34%;
        width: 34%;
    }
}

@media all and (max-width: 321px) {
    .footp1 {
        font-size: 90%;
    }

    .bodymin {
        min-height: 1250px;
    }
}

@media all and (max-width: 357px) {
    tbody {
        white-space: normal;
    }
    .purplemerchant{
        width:133px !important;
    }
    .m-force {
        margin-left: -39% !important;
    }   
}

@media all and (max-width: 1036px) {
    .heartimg {
        width: 32%;
    }

}

@media all and (max-width: 767px) {
    .heartimg {
        width: 52%;
    }
}

@media all and (max-width: 597px) {
    .heartimg {
        width: 67%;
    }
}

@media all and (max-width: 493px) {
    .heartimg {
        width: 80%;
    }
}

@media all and (max-width: 383px) {
    .heartimg {
        width: 100%;
    }
}

.heartimg2no {
    padding-bottom: 0 !important;
}

p.profilep {
    color: white;
}

.nopaddingleft {
    padding-left: 0 !important;
    margin-left: 0 !important;
}

.floatleftsubmit {
    float: left;
}

.skiplink {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    color: white;
    border: 0px !important;
    float: left;
    background-color: transparent !important;

}

.skiplink2 {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    color: white;
    border: 0px !important;

    background-color: transparent !important;

}

@media all and (max-width: 338px) {
    .nobgcolor {
        padding-right: 0;
    }
}

.none {
    display: none;
}

@media all and (max-width: 1230px) {
    .width20 {
        width: 18% !important;
    }

    .mobilengo {
        margin-left: 0%;
        margin-top: 5%;
    }
}

@media all and (max-width: 1186px) {
    .merchant {
        margin-left: -15px;
    }
}

@media all and (max-width: 1092px) {
    .width20 {
        width: 20% !important;
    }

}

@media all and (max-width: 980px) {
    .width20 {
        width: 22% !important;
    }

    .mobilengo {
        margin-top: 2px;
        margin-left: 100%;
    }
}

@media all and (max-width: 882px) {
    .width20 {
        width: 24% !important;
    }

}

@media all and (max-width: 808px) {
    .width20 {
        width: 26% !important;
    }
}

@media all and (max-width: 1199px) {
    .centerise {
        width: 100% !important;
        text-align: center !important;
        margin-left: -5% !important;
    }

    /*.marginleftminus {*/
    /*margin-left: -8%;*/
    /*}*/
    .mm {
        margin-left: 19%;
    }

    .divsize {
        width: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .m10 {
        margin-left: -10%;
    }

}

.p0 {
    padding: 0 !important;
}

@media all and (max-width: 991px) {
    .clearing {
        clear: both;
        margin-left: 3%;
    }

    .spaceup {
        margin-top: 0;
    }
}

@media all and (max-width: 697px) {
    .mm {
        margin-left: 9%;
    }

    .sortby {
        margin-top: -30px;
    }

    p.text-price-two {
        margin-left: 40%;
    }

    p.text-price-three {
        margin-left: 40%;
    }
}

@media all and (max-width: 623px) {
    .spaceup {
        clear: both;
        margin-top: 10px;
    }

    .clearing {
        margin-left: 16%;
    }

    .spaceup {
        margin-left: 16%;

    }
}

/*
.spaceup{
margin-left:16%;}*/
@media all and (max-width: 491px) {
    p.text-price-two {
        font-size: 1.7em !important;
    }

    p.text-price-three {
        font-size: 1.7em !important;
    }

    .editcircle {
        margin-top: 5px !important;
    }
}

@media all and (max-width: 418px) {
    p.text-price-two {
        font-size: 1.3em !important;
    }

    p.text-price-three {
        font-size: 1.3em !important;
    }

    .editcircle {
        margin-top: 0px !important;
    }
}

@media all and (max-width: 345px) {
    p.text-price-two {
        font-size: 1.1em !important;
    }

    p.text-price-three {
        font-size: 1.1em !important;
    }

}

@media all and (max-width: 569px) {
    .sortby {
        margin-top: -65px;
    }
}

@media all and (max-width: 469px) {
    .trans {
        font-size: 25px;
    }

    .sortby {
        margin-top: -60px;
    }
}

@media all and (max-width: 353px) {
    .trans {
        font-size: 19px;
    }

}

.nop {
    padding-left: 0 !important;
}

.p15 {
    margin-left: -15px;
}

@media all and (max-width: 991px) {
    .line1 {
        width: 31.8% !important;
    }

}

@media all and (max-width: 767px) {
    .line1 {
        width: 55% !important;
    }

}

@media all and (max-width: 382px) {
    .m10a {
        margin-top: 10px;
    }

    .minpink {
        min-height: 450px;
    }

    .c1 {
        margin-right: 0 !important;
    }

}

@media all and (max-width: 991px) {
    .canclear {
        clear: both;
    }
}

@media all and (max-width: 1641px) {
    .sc {
        margin-left: 18%;
    }

    .ca {
        margin-left: 18%;
    }
}

@media all and (max-width: 1456px) {
    .sc-text {
        min-height: 38px;
    }
}

@media all and (max-width: 1322px) {
    .sc {
        margin-left: 8%;
    }
}

@media all and (max-width: 1199px) {
    .merchant {
        float: left;
        margin-right: 0;
        margin-left: -18px;
        clear: both;
    }

    .rep {
        float: left;
        margin-right: 0;
        margin-top: 0;
    }

    .sc-text {
        min-height: 0 !important;
    }

    .sc {
        margin-left: 28%;
    }

    .ca {
        margin-left: 28%;
    }
}

@media all and (max-width: 1101px) {
    .merchant {
        position: initial;
        margin-left: 39%;
        margin-right: 10px;
    }

    .rep {
        position: initial;
    }
}

@media all and (max-width: 1035px) {
    .merchant {
        margin-left: 24%;
    }

    .rep {
        position: initial;
        float: right;
        margin-right: -7%;
    }

    .buttomwidth {
        margin-left: 5%;
    }
}

@media all and (max-width: 991px) {
    .cashback-size {
        width: 30% !important;
    }

    .merchant {
        margin-left: 7%;
    }

    .rep {
        margin-right: 9%;
    }
}

@media all and (max-width: 861px) {
    .minheight {
        min-height: 38px !important;
    }
}

@media all and (max-width: 796px) {
    .sc-text {
        min-height: 38px;
    }

    .sc {
        margin-left: 14%;
    }

    .ca {
        margin-left: 14%;
    }

    .merchant {
        margin-left: 5%;
    }

    .rep {
        margin-right: 11%;
        margin-top: -35px;
    }
}

@media all and (max-width: 670px) {
    .cancelmarginleft2 {
        margin-left: 1% !important;
    }

    .cashback-size {
        width: 80% !important;
    }

    .specialline {
        display: none;
    }

    .sm-margin {
        margin-left: -18%;
    }

}

@media all and (max-width: 500px) {
    .sc {
        margin-left: 38%;
    }

    .cashback-size {
        width: 80% !important;
    }

    .specialline {
        display: none;
    }

    .sm-margin {
        margin-left: -18%;
    }

    .ca {
        margin-left: 38%;
    }
}

@media all and (max-width: 400px) {
    .sc {
        margin-left: 32%;
    }

    .cashback-size {
        width: 80% !important;
    }

    .specialline {
        display: none;
    }

    .sm-margin {
        margin-left: -18%;
    }

    .ca {
        margin-left: 32%;
    }

    .merchant {
        margin-left: 20%;
    }

}

@media all and (max-width: 350px) {
    .merchant {
        margin-left: -3%;
    }

    .rep {
        margin-right: 16%;
    }
}

.sc {
    margin-left: 0 !important;
    color: #9c77b4 !important;
}

.group-value {
    width: 100%;
    text-align: center;
}

.cash-text {
    float: none !important;
    margin-top: -2px !important;
}

.overwrite-cc {
    margin-left: 0 !important;
}

.overwrite-cc-button {
    margin-top: -10px !important;
}

.w100 {
    width: 100%;
    text-align: center;
}

.overwrite-login {
    margin-top: 139px;
}

@media all and (max-width: 1525px) {
    .group-value {
        font-size: 13px !important;
    }

    .w100 {
        font-size: 13px !important;
    }

    .over-write-purple {
        width: 47% !important;
    }
}

@media all and (max-width: 1425px) {
    .group-value {
        font-size: 12px !important;
    }

    .w100 {
        font-size: 12px !important;
    }

}

@media all and (max-width: 1380px) {
    .group-value {
        font-size: 11px !important;
    }

    .w100 {
        font-size: 11px !important;
    }

    .ca-button {
        margin-left: 0 !important;
    }

    .overwrite-cc-button {
        margin-left: 0 !important;
    }
}

@media all and (max-width: 1199px) {
    .cancelmarginleft2 {
        margin-left: 9% !important;

    }

    .overwrite-login {
        margin-top: -34px;
        margin-left: 27%;
    }

    .overwrite-again1 {
        margin-top: 20px !important;
        margin-left: 2.1% !important;
    }

    .overwrite-again2 {
        margin-top: 20px !important;
    }

    .overwrite-again3 {
        margin-top: -35px !important;
        margin-left: 2% !Important;
    }

    .addmleft {
        margin-left: -2% !important;
    }

    .over-write-purple {
        width: 49% !important;
    }
}

@media all and (max-width: 1101px) {
    .overwrite-again1 {

        margin-left: 42.2% !important;
    }

    .overwrite-again3 {

        margin-left: 42% !Important;
    }

    .overwrite-again4 {

        margin-left: 68.5% !important;
    }
}

@media all and (max-width: 1035px) {
    .overwrite-again1 {
        margin-left: 26% !important;
    }

    .overwrite-again3 {
        margin-left: 26% !Important;
    }

    .overwrite-again4 {
        margin-left: 85% !important;
    }

    .overwrite-again2 {
        margin-right: -11% !important;
    }
}

@media all and (max-width: 991px) {
    .overwrite-vertical {
        width: 1% !important;
        margin-left: -7% !important;
    }

    .over-write-purple {
        margin-left: -10% !important;
    }

    .overwrite-again1 {
        margin-left: 6% !important;
    }

    .overwrite-again3 {
        margin-left: 6% !important;
    }

    .overwrite-again2 {
        margin-right: 4% !important;
    }

    .overwrite-again4 {
        margin-right: 5% !important;
        float: right !important;
    }

}

@media all and (max-width: 980px) {
    .overwrite-again3 {
        margin-left: -19% !important;
    }
}

@media all and (max-width: 954px) {
    .overwrite-again3 {
        margin-left: -19.5% !important;
    }

    m-mobile {
        margin-top: 50px !important;
    }
}

@media all and (max-width: 900px) {
    .overwrite-again3 {
        margin-left: -20% !important;
    }

    m-mobile {
        margin-top: 50px !important;
    }
}

@media all and (max-width: 796px) {
    .overwrite-again3 {
        margin-left: -21% !important;
    }

    m-mobile {
        margin-top: 50px !important;
    }
}

@media all and (max-width: 758px) {
    .overwrite-again3 {
        margin-left: -22% !important;
    }

    m-mobile {
        margin-top: 50px !important;
    }
}

@media all and (max-width: 724px) {
    .group-value {
        font-size: 10px !important;
    }

    .w100 {
        font-size: 10px !important;
    }

    .overwrite-again4 {
        margin-right: 7.4% !important;
    }

    .pink-overwrite {
        margin-left: -6%;
    }

    m-mobile {
        margin-top: 50px !important;
    }
}

@media all and (max-width: 677px) {
    .group-value {
        font-size: 9px !important;
    }

    .w100 {
        font-size: 9px !important;
    }
}

@media all and (max-width: 670px) {

    .sc-text {
        min-height: 0;
    }

    .pink-overwrite {
        margin-left: 0 !important;
    }

    .overwrite-sm {
        width: 60% !important;
    }

    .overwrite-again2 {
        margin-right: 9% !important;
    }

    .overwrite-again4 {
        margin-right: 10% !important;
    }
}

@media all and (max-width: 623px) {
    .overwrite-again2 {
        margin-top: -35px !important;
        margin-right: 10% !important;
    }

    .overwrite-again4 {
        margin-right: 11.5% !important;
    }
}

@media all and (max-width: 535px) {
    .overwrite-again1 {
        margin-left: 2% !important;
    }

    .overwrite-again3 {
        margin-left: -23% !important;
    }

    .overwrite-again2 {
        margin-right: 14% !important;
    }

    .overwrite-again4 {
        margin-right: 15% !important;
    }
}

@media all and (max-width: 465px) {
    .minheight {
        min-height: 38px !important;

    }
}

@media all and (max-width: 446px) {
    .overwrite-again1 {
        margin-left: 0% !important;
    }

    .overwrite-again2 {
        margin-right: 16% !important;
    }

    .overwrite-again4 {
        margin-right: 17% !important;
    }
}

@media all and (max-width: 433px) {
    .overwrite-again1 {
        margin-left: 1% !important;
    }

    .overwrite-again2 {
        margin-right: 17% !important;
    }

    .overwrite-again4 {
        margin-right: 18% !important;
    }
}

@media all and (max-width: 426px) {
    .same1 {
        width: 140px !important;
    }

    .overwrite-again1 {
        margin-left: 0% !important;
    }

    .reg1 {
        font-size: 12px !important;
        width: 140px !important;
        min-width: 140px !important;
    }

    .overwrite-again2 {
        margin-top: -33px !important;
    }

    .overwrite-again3 {
        margin-top: -55px !important;
    }

    .overwrite-login {
        margin-top: -31px !important;
    }
}

@media all and (max-width: 383px) {
    .over-write-purple {
        width: 50% !important;
    }

    .group-value {
        font-size: 8px !important;
    }

    .w100 {
        font-size: 8px !important;
    }

    .overwrite-again1 {
        margin-left: -1% !important;
    }

    .ex0 {
        width: 15px !important;
        height: 15px !important;
        padding-left: 1.5px !important;
        padding-bottom: 5px !important;
        margin-top: -6px !important;
    }

    .ex1 {
        font-size: 10px !important;
    }
}

@media all and (max-width: 355px) {
    .same1 {
        width: 120px !important;
    }
}

@media all and (max-width: 335px) {
    .over-write-purple {
        width: 52% !important;
    }

    .overwrite-again1 {
        margin-left: -2% !important;
    }
}

@media all and (max-width: 322px) {
    .over-write-purple {
        width: 54% !important;
    }

    .reg1 {
        font-size: 11px !important;
        width: 120px !important;
        min-width: 120px !important;
    }
}

a.link-page {
    padding-right: 3px !important;
	    padding-left: 3PX !important;
}

.v2 {
    margin-top: -5px !important;
}

.v2admin {
    margin-top: 37px !important;
}

.v3 {
    margin-top: 10px !important;
}

.v3admin {
    margin-top: 78px !important;
}

.v4 {
    margin-top: 88px !important;
}

.v4admin {
    margin-top: 120px !important;;
}

.v5 {
    margin-top: 128px !important;
}

.v5admin {
    margin-top: 164px !important;
}

.v6 {
    margin-top: 169px !important;
}

.v7 {
    margin-top: 213px !important;
}

.v7-over {
    margin-top: 143px !important;
}

.ex1 {
    cursor: pointer !important;
}

.charity1 {
    min-height: 200px;
}

.imga1 {
    max-width: 100% !important;
    height: 110px !important;
    text-align: center !important;
    padding: 0 !important;
}

.caption-div {
    max-width: 100%;
    overflow: hidden;
}

.charity-p {
    text-align: left !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden !important;

}

.charity-p-index {
    text-align: center !important;
}

.image-index {
    border-radius: 20% !important;
}
.ca2{
	font-size: 1.7em !important;
	
	}
.linea1 {
    min-height: 55px;
}
.ta1{
	    margin-top: 75px !important;
	
	}
.ta2{
	    margin-top: 115px !important;
	
	}
.ta3{
	    margin-top: -100px !important;}
.tf1{
	    margin-left: 22%;
    width: 80%;
	padding: 0 !important;
	}
.rf2{
	margin-top: 39px !important;}
.rf4{
	margin-top: 117px !important;}
.rf5{	
    margin-top: 156px !important;}
	
@media all and (max-width: 1626px) {
    .imga1 {
        height: 90px !important;
    }
}

@media all and (max-width: 1400px) {
    .imga1 {
        height: 80px !important;
    }
}

@media all and (max-width: 1199px) {
    .imga1 {
        height: 110px !important;
    }

    .v2 {
        margin-top: 4px !important;
    }

    .v3 {
        margin-top: 10px !important;
    }

    .v4 {
        margin-top: -78px !important;
    }

    .v5 {
        margin-top: -58px !important;
    }

    .v6 {
        margin-top: -34px !important;
    }

    .v7 {
        margin-top: 8px !important;
        margin-left: 2% !important;
    }

    .mp3 {

        margin-left: 11% !important;
    }
	.new-line{
		margin-left:3% !important;}
	.ex1{
		margin-left: 2%;
    margin-top: 10px;
		}	
	.ex2{
			margin-top:-78px !important;}
			.linea1 {
    min-height: 55px !important;
}
.ta3 {
    margin-top: 0 !important;
}
.tf1{
	margin-left:0 !important;}
.rf1{
	
	margin-left: 12% !important;
	}
.rf2{
	margin-left: 12% !important;
    margin-top: 0 !important;}
.rf3{
	margin-top: 7px !important;
    margin-left: 12% !important;
	}
.rf4{
	margin-top:0 !important;
   margin-left: 12% !important;
	}
.rf5{    margin-top: 7px !important;
    margin-left: 12% !important;
}
}

@media all and (max-width: 1101px) {
    .v7 {
        margin-left: 42% !important;
    }

    .imga1 {
        height: 90px !important;
    }

    .mp3 {

        margin-left: 51% !important;
    }
	.ex1 {
    margin-left: 42%;
}
.rf1{
	
	margin-left: 52% !important;
	}
.rf2{
	margin-left: 52% !important;
    }
.rf3{
	
    margin-left: 52% !important;
	}
.rf4{
	
   margin-left: 52% !important;
	}
.rf5{    
    margin-left: 52% !important;
}
}
@media all and (max-width: 1053px) {
.v4 {
    margin-top: -93px !important;
}
.v6 {
    margin-top: -48px !important;
}	
.ex1{
    margin-top: 10px;
		}	
.ex2{
	margin-top:-78px !important;}	
.ex3{
	margin-top: -78px !important;}
}
@media all and (max-width: 1035px) {
    .v7 {
        margin-left: 26% !important;
        float: left;
    }
.ex1 {
    margin-left: 25%;
}
}

@media all and (max-width: 991px) {
    .v7 {
        margin-left: 6% !important;
    }

    .imga1 {
        height: 80px !important;
    }

    .mp3 {
        margin-left: 35% !important;
    }

    .pline {
        width: 100% !important;
    }
.ex1 {
    margin-left: 5%;
}
.rf1{
	
	margin-left: 36% !important;
	}
.rf2{
	margin-left: 36% !important;
    }
.rf3{
	
    margin-left: 36% !important;
	margin-top: 14px !important;
	}
.rf4{
	
   margin-left: 36% !important;
	}
.rf5 {
    margin-top: 14px !important;
    float: left !important;
    margin-left: 36% !important;
}
}

@media all and (max-width: 980px) {
    .mp3 {
        margin-left: 10% !important;
    }
    .m-force{
        margin-left: -27% !important;
    }
    .v4 {
        margin-top: -95px !important;
    }
	.u3{
		margin-left: 10.2% !important;
	}
	.ex3 {
    margin-top: -78px !important;
}
.rf2 {
    margin-left: 9% !important;
    margin-top: 14px !important;
}
.rf4 {
    margin-left: 9% !important;
    margin-top: 14px !important;
}
}
@media all and (max-width: 955px) {
.v4 {
    margin-top: -88px !important;
}	
	.ex3 {
    margin-top: -78px !important;
}	

}
@media all and (max-width: 943px) {
.v4 {
    margin-top: -76px !important;
}
.v6 {
    margin-top: -36px !important;
}
	.ex2 {
    margin-top: -78px !important;
}	
}
@media all and (max-width: 905px) {
.rf2 {
    margin-left: 8% !important;}
.rf4 {
    margin-left: 8% !important;}	
	}
@media all and (max-width: 874px) {
.sc-text {
    min-height: 38px;
}	
	
	}
@media all and (max-width: 840px) {
.rf2 {
    margin-left: 7% !important;}
.rf4 {
    margin-left:7% !important;}	
	}
@media all and (max-width: 822px) {

    .imga1 {
        height: 70px !important;
    }

    .charity1 {
        min-height: 160px;
    }
}
@media all and (max-width: 801px) {
.linea1 {
    min-height: 55px;
}
.ca2 {
    font-size: 1.6em !important;
}
}
@media all and (max-width: 767px) {
    .imga1 {
        width: 100% !important;
        height: 150px !important;
    }

}

@media all and (max-width: 752px) {
    .mp3 {
        margin-left: 6% !important;
    }
    .v2admin {
        margin-top: 15px !important;
    }
    .v3admin {
        margin-top: 20px !important;
    }

    .v4admin {
        margin-top: 15px !important;
    }
    .v5admin {
        margin-top: -34px !important;
    }
    
    .v7 {
        margin-top: 5px !important;
    }
	.rf5 {
    margin-top: 14px !important;}
}
@media all and (max-width: 700px) {
.ca2 {
    font-size: 1.5em !important;
}
}
@media all and (max-width: 697px) {
.ca2 {
	margin-left:15% !important;
}
}
@media all and (max-width: 670px) {
    .mp3 {
        margin-left: 9% !important;
    }
	.u3 {
    margin-left: 12% !important;
}
p.text-price-three {
    margin-left: 40% !important;
}
.ca2 {
    font-size: 1.3em !important;
}
.linea1 {
    min-height: 0 !important;
}
}
@media all and (max-width: 624px) {
.overwrite-again1 {
    margin-left: 5.5% !important;
}
.rf1 {
    margin-left: 25% !important;
}
.rf2 {
    margin-left: -2% !important;
}
.rf3 {
    margin-left: 25% !important;}
.rf4 {
    margin-left: -2% !important;
}
.rf5 {
    margin-left: 25% !important;}
}
@media all and (max-width: 580px) {
    .imga1 {

        height: 120px !important;
    }

}

@media all and (max-width: 535px) {
    .v7 {
        margin-left: 2% !important;
    }
	.overwrite-again1 {
    margin-left: 3.3% !important;
}
	.v7 {
    margin-left: 3.8% !important;
}
.rf1 {
    margin-left: 25% !important;
}
.rf3 {
    margin-left: 25% !important;
}
}
@media all and (max-width: 525px) {
.u3 {
    margin-left: 10% !important;
}
.ex1 {
    margin-left: 2%;
}

}
@media all and (max-width: 491px) {
p.text-price-three {
    margin-left: 30% !important;
}	

.ca2{
    font-size: 1.3em !important;
}	
	}
@media all and (max-width: 484px) {
.overwrite-again1 {
    margin-left: 0 !important;
}	
.overwrite-again3 {
    margin-left: -26%!important;
}	
.v7 {
    margin-left: 0% !important;
}
.u3{
    margin-left: 7%!important;
}
.ex1 {
    margin-left: -1%;
}
.rf1 {
    margin-left: 25% !important;
}
.rf2 {
    margin-left: -2% !important;
}
.rf3 {
    margin-left: 25% !important;}
.rf4 {
    margin-left: -2% !important;
}
.rf5 {
    margin-left: 25% !important;}
}
@media all and (max-width: 473px) {
    .imga1 {

        height: 90px !important;
    }

}
@media all and (max-width: 436px) {
.u3 {
    margin-left: 7%!important;
}
.rf1 {
    margin-left: 25% !important;
}
.rf2 {
    margin-left: -2% !important;
}
.rf3 {
    margin-left: 25% !important;}
.rf4 {
    margin-left: -2% !important;
}
.rf5 {
    margin-left: 25% !important;}
}
@media all and (max-width: 426px) {
    .v7 {
        margin-left: 0 !important;
    }

    .v4 {
        margin-top: -80px !important;
    }

    .v5 {
        margin-top: -47px !important;
    }

    .v6 {
    margin-top: -33px !important;
}
    .navham {
        margin-top: 9px !important;
    }
    .v4 {
        margin-top: -70px !important;
    }
}

@media all and (max-width: 390px) {
    .imga1 {

        height: 70px !important;
    }
.overwrite-again3 {
    margin-left: -24%!important;
}
}

.rep-h1 {
    color: #9f76b4;
}

.apply-div {
    width: 100px;
    border: 2px solid #f391bc;
    font-size: 20px;
    text-align: center;
    border-radius: 15px;
    background-color: white;
    color: #f391bc;
    cursor: pointer;
    text-decoration: none !important;
}

.apply-div:hover {
    background-color: #f391bc;
    color: white;
    text-decoration: none !important;
}

.apply-it {
    text-decoration: none !important;
    float: left;
}

.apply-it:hover {
    text-decoration: none !important;
}

.cancel-div {
    width: 100px;
    margin-left: 10px;
    border: 2px solid #afafaf;
    font-size: 20px;
    text-align: center;
    border-radius: 15px;
    background-color: white;
    color: #afafaf;
    cursor: pointer;
    text-decoration: none !important;
}

.cancel-div:hover {
    background-color: #afafaf;
    color: white;
    text-decoration: none !important;
}

.cancel-it {
    text-decoration: none !important;
    float: left;
}

.cancel-it:hover {
    text-decoration: none !important;
}

.confirm1-overwrite {
    font-size: 14px;
    width: 120px !important;
    min-width: 100px !important;
    height: 30px !important;
    padding-top: 0 !important;
    float: right !important;
    margin-top: 11px;
}

.confirm2-overwrite {
    font-size: 14px;
    width: 100px !important;
    min-width: 100px !important;
    height: 30px !important;
    padding-top: 0 !important;
    margin-top: 25px !important;
    color: #9c77b4 !important;

}

.checkbox-overwrite {
    vertical-align: inherit !important;
    margin-right: 5px !important;
}

input.transparent01 {
    color: white !important;
}

input.transparent01:-webkit-autofill {
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0px 1000px #f291bb inset !important;
    color: white !important;
}

textarea.transparent01:-webkit-autofill {
    color: white !important;
}

.mustbewhite {
    color: white !important;
}

.w2 {
    width: 100% !important;
    font-size: 16px !important;
}

.width100 {
    width: 70% !important;
}

.g1 {
    font-size: 25px;
}

.security-p {
    color: #9c77b4 !important;
    font-size: 17px !important;
}

.purple-line {
    color: #9c77b4 !important;
    border-bottom: 1px solid #9c77b4;
}

textarea.purple-line {
    color: #9c77b4 !important;

}

.purple-line::placeholder {
    color: #9c77b4 !important;

}

.footp1 {
    float: left !important;
    margin-right: 0 !important;
}

.bigdiv {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

.left-div {
    width: 40%;
    float: left;
    margin-top: 50px;
}

.shop-image {
    width: 100%;
}

.shop-img {
    width: 100%;
}

.right-div {
    width: 60%;
    float: left;
    margin-top: 50px;
    padding-left: 5%;
}

h1#shopName {
    margin: 0;
}

.description1 {
    margin-bottom: 30px;
    font-size: 21px;
}

.description {

    font-size: 16.5px !important;
}

a.shop-name {
    color: #9f76b4 !important;
    text-decoration: none !important;
}

a.shop-name:hover {
    color: #54286b !important;
    text-decoration: none !important;
}

span.contribute-credit {
    color: black;
    background-color: transparent;

    font-size: 16.5px;
    float: left;
    margin-right: 5px;
}

.d2 {
    margin-top: 10px;
}

.contribute-div {
    width: 120px;
    background-color: white;
    color: #9f76b4;
    border: 2px solid #9f76b4;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    float: left;
    margin-top: -4px;
    margin-left: 4px;
}

.contributecredit {
    float: left;
}

a.confirm-a {
    color: #9f76b4;
    font-size: 16px;
    text-decoration: none !important;
}

.contribute-div:hover {
    background-color: #9f76b4;
    cursor: pointer;
    color: white;
}

a.confirm-a:hover {
    background-color: #9f76b4;
    color: white;
}

/*.footer {*/
/*position: inherit !important;*/
/*}*/

.error-msg-p {
    text-align: left !important;
    clear: both !important;
}

@media all and (max-width: 1168px) {
    .leftfoot {
        width: 70% !important;
    }

    .midfoot {
        width: 16% !important;
    }
   
    t-overwrite{
        margin-top: 24px !important;
    }
    t-overwrite2{
        margin-top: 25px !important;
    }
}

@media all and (max-width: 1053px) {
    .contributecredit {
        width: 120px;
    }
    .test{
        margin-top:14px!important;
    }

}

@media all and (max-width: 943px) {
    .leftfoot {
        width: 65% !important;
    }
    .test{
        margin-top:2px!important;
    }
}

@media all and (max-width: 930px) {
    .contribute-div {
        width: 100px;
    }
    .test{
        margin-top:2px!important;
    }
}

@media all and (max-width: 885px) {
    .contributecredit {
        width: 100px;
    }
    .test{
        margin-top:2px!important;
    }
}

@media all and (max-width: 840px) {
    .left-div {
        width: 100%;
    }

    .right-div {
        width: 100%;
        padding-left: 0;
    }

    .footer {
        position: inherit !important;
    }
    .test{
        margin-top:2px!important;
    }
}

@media all and (max-width: 712px) {
    .midfoot {
        margin-right: 2.7%;
        float: right;
    }
    .test{
        margin-top:2px!important;
    }
}

@media all and (max-width: 691px) {
    .leftfoot {
        width: 40% !important;
        float: left;
        text-align: left;
    }

    .rightfoot {
        margin-top: -15px;
    }
    .test{
        margin-top:2px!important;
    }
}

@media all and (max-width: 681px) {
    .midfoot {
        margin-top: -20px;
    }
    .test{
        margin-top:2px!important;
    }
}

@media all and (max-width: 673px) {
    .midfoot {
        width: 19% !important;
        margin-right: 1%;
    }
    .test{
        margin-top:2px!important;
    }

}

@media all and (max-width: 581px) {
    .midfoot {
        margin-right: 2.5%;
    }
    .test{
        margin-top:2px!important;
    }

}

@media all and (max-width: 566px) {
    .midfoot {
        margin-right: 1%;
        width: 22% !important;
    }
    .test{
        margin-top:2px!important;
    }

}

@media all and (max-width: 552px) {
    .midfoot {
        margin-top: 0 !important;
    }

    .rightfoot {
        margin-top: -8px !important;
        margin-right: 0 !important;
    }
    .test{
        margin-top:2px!important;
    }
}

@media all and (max-width: 489px) {
    .midfoot {

        width: 25% !important;
    }

    .shopname {
        font-size: 23px;
    }

    .description1 {
        font-size: 19px;
    }

    .description {
        font-size: 15px !important;
    }
    .test{
        margin-top:2px!important;
    }
}

@media all and (max-width: 461px) {
    .contribute-div {
        margin-bottom: 20px;
        margin-top: 5px;
        clear: both;
        margin-left: 0;
        float: left;
    }

}
@media all and (max-width: 436px) {
    .test{
        margin-top:2px!important;
    }
    .overwrite-again3 {
        margin-left:-25%!important;
    }
	.u3 {
    margin-left: 7%!important;
}
.rf1 {
    margin-left: 25% !important;
}
.rf2 {
    margin-left: 0% !important;
}
.rf3 {
    margin-left: 25% !important;}
.rf4 {
    margin-left: 0% !important;
}
.rf5 {
    margin-left: 25% !important;}
}

@media all and (max-width: 484px) {
    .test{
        margin-top:2px!important;
    }

}

@media all and (max-width: 430px) {
    .midfoot {
        width: 27% !important;
    }
    /*.mobilengo {*/
        /*margin-top: 15px;*/
        /*margin-left: 95%;*/
    /*}*/
    .test{
        margin-top:2px!important;
    }

}
@media all and (max-width: 426px) {
	.button01{
		width:140px !important;
		    font-size: 12px;}
	.ex2 {
    margin-top: -72px !important;
}
.ex3{
    margin-top: -72px !important;
}
	}
@media all and (max-width: 424px) {
.v4 {
    margin-top: -70px !important;
}	
.v6 {
    margin-top: -33px !important;
}
.ex2 {
    margin-top: -72px !important;
}
}
@media all and (max-width: 398px) {
    .midfoot {
        width: 29% !important;
    }

}

@media all and (max-width: 371px) {
    .midfoot {
        width: 32% !important;
    }

}

@media all and (max-width: 336px) {
    .midfoot {
        width: 35% !important;
    }

}

@media all and (max-width: 1326px) {
    .midfoot {
        width: 27% !important;
    }
    /*.mobilengo {*/
    /*margin-top: 15px;*/
    /*margin-left: 95%;*/
    /*}*/

}
@media all and (max-width: 322px) {
.button01 {
    width: 130px !important;
    font-size: 11px;
}
.reg1{
	padding-top:5px !important;
	width: 130px !important;}
.ex3 {
    margin-top: -68px !important;
}
.ex2 {
    margin-top: -68px !important;
}
.reg1a{
	padding-left:5px !important;}
}
@media all and (max-width: 321px) {
    .footp {
        font-size: 8px;
    }

    .midfoot {
        margin-right: 3%;
        text-align: right;
    }
}
